<div class="users index">
		<h2>Users</h2>

		<%= link_to("Add New User", '#', :class => 'action new') %>

		<table class="listing" summary "Users user">
			<tr class="header">
				<th>#</th>
				<th>User</th>
				<th>Actions</th>
			</tr>

			<% @users.each do |user| %>
			<tr>
				<td><%= user.id%></td>
				<td><%= user.first_name%></td>
				<td>
					<%= link_to("Show", user_path(user), :class => 'action show') %>
					<%= link_to("X", '#', :class => 'action delete') %>
			</tr>
			<% end %>
		</table>
	</div>