
<% @page_title = "Sign Up" %>

<div class='signUp'>
	<h2>Sign Up</h2>
	<%= form_for(@user, :url => lists_path, :method => 'post') do |f| %>
	  <table>
	  	<tr>
	      <td><%= label_tag(:first_name) %></td>
	      <td><%= text_field_tag(:first_name) %></td>
	    </tr>
	    <tr>
	      <td><%= label_tag(:last_name) %></td>
	      <td><%= text_field_tag(:last_name) %></td>
	    </tr>
	    <tr>
	      <td><%= label_tag(:email) %></td>
	      <td><%= text_field_tag(:email) %></td>
	    </tr>
	    <tr>
	      <td><%= label_tag(:username) %></td>
	      <td><%= text_field_tag(:username) %></td>
	    </tr>
	    <tr>
	      <td><%= label_tag(:password) %></td>
	      <td><%= password_field_tag(:password) %></td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><%= submit_tag("Sign Up") %></td>
	    </tr>
	  </table>
  <% end %>
</div>