<!DOCTYPE html>
<html>
  <head>
    <title>GroceryList</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class='headerContainer'>
  		<h4 class='title'>Grocery List</h4>
  		<%= link_to("Lists", lists_path, :class => 'navButton') %>
  		<%= link_to("Users", users_path, :class => 'navButton') %>
  	</div>
  	<div class='contentContainer'>
	  	<!-- before yield -->
	    <%= yield %>
	    <!-- after yield -->
	</div>
  </body>
</html>
